# Pandas

Panel Data - Data Manipulation and Data Analysis

In [1]:
import pandas as pd

### Series Objects

One-Dimentional object

In [2]:
s1=pd.Series([10,20,30,40,50])
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

In [4]:
#Assign list to Series
l1=[1,2,3,4,5]
s1=pd.Series(l1)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
#Series Object from Dictionary
s2=pd.Series({'a':10, 'b':100, 'c':1000})
s2

a      10
b     100
c    1000
dtype: int64

In [6]:
pd.Series({'a':10, 'b':100, 'c':1000},index=['c','b','d','a'])

c    1000.0
b     100.0
d       NaN
a      10.0
dtype: float64

#### Changing Index

In [7]:
s1=pd.Series([100,200,300,400,500],index=['A','B','C','D','E'])
s1

A    100
B    200
C    300
D    400
E    500
dtype: int64

#### Extracting Individual Elements

In [8]:
s1[3]

400

In [9]:
#First four elements
s1[:4]

A    100
B    200
C    300
D    400
dtype: int64

In [10]:
#Last 3 elements
s1[-3:]

C    300
D    400
E    500
dtype: int64

#### [start:stop:steps]

In [11]:
#Skip an index
s1[::2]

A    100
C    300
E    500
dtype: int64

In [12]:
s1[1::3]

B    200
E    500
dtype: int64

#### Math Operations

In [13]:
s1+5

A    105
B    205
C    305
D    405
E    505
dtype: int64

In [14]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([5,6,7,8,9,10])
s2+s1

0     6.0
1     8.0
2    10.0
3    12.0
4    14.0
5     NaN
dtype: float64

### Pandas Dataframe

2-Dimentional Labelled Data Structure

In [15]:
df=pd.DataFrame({'Name':['Ayesha','Hira','Saba'], 'Marks':[95,88,99]})

In [16]:
df

     Name  Marks
0  Ayesha     95
1    Hira     88
2    Saba     99

#### Built-in Functions

In [17]:
iris=pd.read_csv('iris.csv')

In [18]:
iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [19]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [20]:
iris.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [21]:
iris.shape

(150, 5)

In [22]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### Extracting individual rows & columns

In [23]:
iris.iloc[0:3,0:2]

   Sepal.Length  Sepal.Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

In [24]:
iris.loc[0:5]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [25]:
iris.loc[5:10,('Sepal.Length','Petal.Length','Species')]

    Sepal.Length  Petal.Length Species
5            5.4           1.7  setosa
6            4.6           1.4  setosa
7            5.0           1.5  setosa
8            4.4           1.4  setosa
9            4.9           1.5  setosa
10           5.4           1.5  setosa

.iloc excludes last index given in range while .loc includes it

#### Dropping Columns & Rows

In [26]:
iris.drop('Species',axis=1)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

axis=0 represents rows & axis=1 represents columns

In [27]:
iris.drop([2,4,6,8], axis=0)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
7             5.0          3.4           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[146 rows x 5 columns]

### Pandas Functions

#### Mean

In [28]:
iris.mean(numeric_only=True)

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

#### Median

In [29]:
iris.median(numeric_only=True)

Sepal.Length    5.80
Sepal.Width     3.00
Petal.Length    4.35
Petal.Width     1.30
dtype: float64

#### Maximum

In [30]:
iris.max()

Sepal.Length          7.9
Sepal.Width           4.4
Petal.Length          6.9
Petal.Width           2.5
Species         virginica
dtype: object

#### Minimum

In [31]:
iris.min()

Sepal.Length       4.3
Sepal.Width        2.0
Petal.Length       1.0
Petal.Width        0.1
Species         setosa
dtype: object

#### User-defined functions & Apply Method

In [32]:
def half(s):
    return s*0.5

In [33]:
def double(s):
    return s*2

In [34]:
print(iris[['Sepal.Length','Petal.Length']].apply(half))
print(iris[['Sepal.Width','Petal.Width']].apply(double))

     Sepal.Length  Petal.Length
0            2.55          0.70
1            2.45          0.70
2            2.35          0.65
3            2.30          0.75
4            2.50          0.70
..            ...           ...
145          3.35          2.60
146          3.15          2.50
147          3.25          2.60
148          3.10          2.70
149          2.95          2.55

[150 rows x 2 columns]
     Sepal.Width  Petal.Width
0            7.0          0.4
1            6.0          0.4
2            6.4          0.4
3            6.2          0.4
4            7.2          0.4
..           ...          ...
145          6.0          4.6
146          5.0          3.8
147          6.0          4.0
148          6.8          4.6
149          6.0          3.6

[150 rows x 2 columns]

#### Count

In [35]:
iris['Species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

#### Sorting

In [36]:
iris.sort_values(by='Sepal.Length')

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]